# Distribution / packaging
.Python
*.pyc
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

/tools/tmp
/tools/bin
/app/test.py

.requirements.zip
/tmp/*
!/tmp/.gitkeep

/app/haru
/node_modules
/lib/*
!/lib/.gitkeep

# Serverless directories
.serverless
